<fancy-box icon="people" theme="theme2">
    <div title>
        What Guardian Says About Us
    </div>
    <div content>
        <ul class="gap justify">
            <li>
                'My child is very happy, the Qaris are very good at nurturing and developing the children's academic skills as well as social interaction and productive learning.'
            </li>
            <li>
                'My child has had some ups and downs in year, but his QARI and the MADRASA have helped.'
            </li>
            <li>
                'I am really happy with the progress my child is making at this MADRASA, all of his QARIS have been lovely and always there to help.'
            </li>
            <li>
                'Very good MADRASA, you have helped my child so much with her HIFZ.'
            </li>
            <li>
                'I am happy that my child is happy in MADRASA.'
            </li>
            <li>
                'All QARIS at this MADRASA are really helpful and I feel that my child is receiving everything he needs at this MADRASA and his QARIS have been great at keeping us updated with his MADRASA life.'
            </li>
            <li>
                'My child likes this MADRASA. All QARIS are polite and friendly.'
            </li>
            <li>
                'I couldn't think of a better MADRASA for my children to be in.'
            </li>
            <li>
                'My child has improved so much since starting in Reception. She has loads of confidence and is always happy to come to MADRASA.'
            </li>
            <li>
                'My child is very happy at this MADRASA and they love how they do not get bullied.'
            </li>
        </ul>
        <br><br>
    </div>
</fancy-box>